apiVersion: triliovault.trilio.io/v1
kind: Restore
metadata:
  name: {{ backup_prefix }}-restore
spec:
  source:
    type: Backup
    backup:
      name: {{ backup_prefix }}-{{ timestamp }}
      namespace: {{ namespace }}
    restoreNamespace: {{ restore_namespace }}
    skipIfAlreadyExists: true
