apiVersion: triliovault.trilio.io/v1
kind: Restore
metadata:
  name: {{ tvk_backup_prefix }}-dr-restore
spec:
  source:
    type: Location
    location: {% for item in location %}{{ item }}{% endfor %} 
    target:
      name: {{ tvk_target_name }}
      namespace: {{ tvk_dr_restored_namespace }}
  skipIfAlreadyExists: true
