{% for secret in secrets %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ secret.name }}
  namespace: {{ tvk_namespace }}
  creationTimestamp: null
{% if secret.type == "generic" %}
{# nothing to do #}
{% elif secret.type == "docker-registry" %}
type: kubernetes.io/dockerconfigjson
{% endif %}
data:
  {% if secret.type == "generic" -%}
  {% for element in secret.data -%}
  {{ element.key }}: {{ element.value | b64encode }}
  {% endfor -%}
  {% elif secret.type == "docker-registry" -%}
  {% set auth = secret.data.username ~ ":" ~ secret.data.password -%}
  {% set json = '{"auths":{' ~ secret.data.hostname|tojson ~ ':{"username":' ~ secret.data.username|tojson ~ ',"password":' ~ secret.data.password|tojson ~ ',"email":' ~ secret.data.email|tojson ~ ',"auth":' ~ auth|b64encode|tojson ~ '}}}' -%}
  .dockerconfigjson: {{ json|b64encode }}
  {% endif %}

{% endfor %}